/* 
#7E57C2
#9575CD
#5E3581
backgroundColor rgba(103,58,183,1)
rgba(103,58,183,1)
rgba(103,58,183,0.5)
rgba(103,58,183,0.25)
rgba(103,58,183,0.15)

HEXADEC - #673AB7
*/

* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  /* background-color: rgba(103, 58, 183, 1); */
  height: 100vh;
  /* background: rgba(103, 58, 183, 0.8); */
  /* background: linear-gradient(135deg, rgba(135,107,191,1) 0%, rgba(103,58,183,1) 100%); */
}