.card-container {
  height: 160px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 1.5vh;
  box-shadow: 0px 0px 10px 1px rgba(10, 9, 10, 1);
  background-color: rgb(255, 255, 255, 0.8)
}
.img-container{
  width: 60%;
  margin-left:20%;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.div-text {
  display: flex;
  align-items: flex-end;
}

.card p {
  font-size: 12px;
  text-align: center;
}

.card h2 {
  font-size: 20px;
  color: rgb(103, 58, 183);
}

.card-ul {
  width: 90%;
  overflow: scroll;
  margin-bottom: 66px;
  list-style: none;
}

.div-container {
  width: 100%
}

.div-imagen {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-top {
  margin-top: 5px;
  display: flex;
  height: 30%;
  align-items: center;
}

.div-mid {
  height: 30%;
  display: flex;
  align-items: center;
}

.div-bottom {
  height: 30%;
  display: flex;
  align-items: center;
}

.icon-card {
      border-radius: 10px;
      font-size: 80px;
      margin-top: 0%;
      margin-bottom: 6px;
      margin-left: 16%;
      padding-top: 5px;
      color: rgb(255, 255, 255, 0.6);
      width: 70%;
      height: 83%;
}

.icon-info {
  color: rgb(103, 58, 183, 1);
  margin-right: 10px;
}

.name-card {
  display: flex;
}

.red-box {
  background-color: #F25C54;
  border-radius: 0 1.5vh 1.5vh 0;
  width: 20px;
  height: 161px;
}

.green-box {
  background-color: #83B692;
  border-radius: 0 1.5vh 1.5vh 0;
  width: 20px;
  height: 161px;
}

.yellow-box {
  border-radius: 0 1.5vh 1.5vh 0;
  background-color: #F9DC5C;
  width: 20px;
  height: 161px;
}

.icon-userAdd {
  color: rgb(103, 58, 183, 1);
}