.container-employee-form {
  background-color: rgba(103, 58, 183, 0.5);
  background: linear-gradient(rgba(101, 153, 153, 0.5), rgba(244, 121, 31, 0.5)), url('../images/wallpaper_2.jpeg');
  background-size: 400%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* justify-content: space-evenly; */
  align-items: center;
  padding-bottom: 0px;
  height: 100vh;
}

.title-row {
  width: 70vw;
  height: auto;
  margin-top: 10vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.employee-h2 {
  font-family: 'Raleway';
  text-transform: uppercase;
  font-size: 1.5em;
  color: rgb(255, 255, 255, 0.9);
  font-weight: bolder;
}

/* -----     PROFILE     ------- */

.container-employee-form-profile {
  background-color: rgba(103, 58, 183, 0.5);
  background: linear-gradient(rgba(101, 153, 153, 0.5), rgba(244, 121, 31, 0.5));
  background-size: 400%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* justify-content: space-evenly; */
  align-items: center;
  padding-bottom: 0px;
  height: 100vh;
}

#profile .container-employee-form {
  /* justify-content: space-evenly; */
  align-items: flex-start;
  padding-bottom: 0px;
  height: 100vh;
}

#profile .image-employee {
  margin-top: 15vh;
  color: white;
  border: 1px solid white;
  border-radius: 20%;
  padding: 5px;
  height: 200px;
  align-self: center;
  width: 200px;
  filter: grayscale(50%);
}

#profile .employee-h2 {
  font-family: 'Raleway';
  text-transform: uppercase;
  font-size: 1.5em;
  color: rgb(255, 255, 255, 0.9);
  font-weight: bolder;
  align-self: center;
  margin-top: 3vh;
}

#profile .employee-h2 span {
  text-transform: none;
  color: rgba(255, 255, 255, 0.7);
}

#profile .fields {
  align-self: center;
  margin-top: 2vh;
}

#profile .fields h2 {
  font-weight: lighter;
  font-size: 1.2em;
  color: rgba(87, 86, 86, 0.7);
  margin-top: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#profile .fields h2 span {
  margin-left: 20px;
  font-size: 1.1em;
  color: white;
}

#profile .buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 6vh;
  /* display:flex;
  justify-self: center;  */
}

#profie .button {
  font-size: 1.2em;
  display:flex;
  flex-direction:row;
  justify-self: end;
  color: rgb(177, 54, 54);
  border:1px solid rgb(177, 54, 54);
  background-color:rgb(177, 54, 54,0.2);
}

#profile .edit-button{
  margin:0px 30px;
  padding:10px 15px;
  font-size: 1.2em;
  color: white;
  border:none;
  /* border:1px solid rgba(101, 153, 153, 1); */
  background: none;
  border-radius: none;
  background-color: rgba(101, 153, 153, 0.5);
}

#profile .delete-button {
  margin: 0px 30px;
  padding: 10px 15px;
  font-size: 1.2em;
  color:white;
  border:none;
  /* border:1px solid rgb(177, 54, 54); */
  background: none;
  background-color: rgb(177, 54, 54, 0.5);
}

#edit-profile{
  margin:0 15%;
}



/* -----     PROFILE END   ------- */

.title-row button {
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-self: end;
  color: rgb(177, 54, 54);
  border:1px solid rgb(177, 54, 54);
  background-color:rgb(177, 54, 54,0.2);
  
}

.employee-form {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.edit-button {
  font-size: 19px;
  color: rgba(255, 255, 255, 1.0);
  margin-top: 15%;
  background-color: rgba(101, 153, 153, 0.3);
  padding: 15px 35px 15px 35px;
}

.input-user {
  width: 70vw;
  font-size: 1.1em;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  background: transparent;
  /* background-color: rgba(255,255,255,0) !important;  */
  border: none;
  /* border-bottom: 2px solid rgba(87, 86, 86, 0.3); */
  margin: 2px 0 5px 0;
  height: 30px;
  color: white !important;
  -webkit-appearance: none;
  justify-items: start;
}

.input-employee {
  width: 70vw;
  font-size: 1.1em;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  background: transparent;
  /* background-color: rgba(255,255,255,0) !important;  */
  border: none;
  border-bottom: 2px solid rgba(87, 86, 86, 0.3);
  margin: 2px 0 5px 0;
  height: 30px;
  color: white !important;
  -webkit-appearance: none;
  justify-items: start;
}

.span-forms {
  margin-left: 5%;
}

.box-form {
  width: 53%;
  padding-left: 5%;
  margin-left: 5%;
  font-size: 0.9em;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  background: transparent;
  /* background-color: rgba(255,255,255,0) !important; */
  border: none;
  border-bottom: 2px solid rgba(87, 86, 86, 0.3);
  color: white !important;
  -webkit-appearance: none;
}

.input-employee:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.1) !important;
  filter: brightness(30px);
  /* -webkit-text-fill-color: rgba(255,255,255,0.6) !important; */
  /* filter:invert(100%); */
}

/* -----     CHECKBOX      ------*/

.input-checkbox {
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid rgba(87, 86, 86, 0.3);
  padding: 9px;
  border-radius: 0px;
  display: inline-block;
  position: relative;
}

.input-checkbox:checked {
  background-color: rgba(101, 153, 153, 1);
  border: 1px solid rgba(101, 153, 153, 1);
  color: #050505;
  outline: none;
}

.input-checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #020202;
  outline: none;
}

/* -----     CHECKBOX      ------*/

.schedule-container {
  width: 70vw;
  margin-top: 3vh;
  color: rgba(255, 255, 255, 0.9);
  /* border: 2px solid rgba(240, 192, 104, 0.9); */
}

.day-hour {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
}

.hour {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10px;
}

.day-label {
  font-family: 'Raleway';
  margin-left: 5px;
  font-weight: bolder;
  font-size: 1em;
  color: rgba(87, 86, 86, 0.7);
}

.input-time {
  -webkit-appearance: none;
  width: auto;
  margin-right: 5px;
  margin-left: 10px;
}



.employee-image {
  width: 20vw;
  height: auto;
}

.employee-image img {
  width: 20vw;
  height: auto;
}

.button-confirm {
  font-size: 1.2em;
  color: white;
  margin-top: 48px;
  margin-right: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid rgba(101, 153, 153, 1);
  background: none;
  background-color: rgba(101, 153, 153, 0.5);
}