.card-container {
  height: 50px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 1px solid black;
  border-radius: 1.5vh;
  border-bottom: 3px solid rgb(103, 58, 183,0.5);
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.card p{
  font-size: 12px;
}
.card img {
  height: 40px;
  width: 40px;
}
.card h2{
  font-size: 20px;
}

.icon-card{
  background-color: rgb(103, 58, 183,1);
  border-radius: 1vh 0 0 1vh;
  font-size: 50px;
  color: rgb(255,255,255, 0.6);
}
/* .card-container :hover {
  background: yellow;
 
} */
.name-card{
  margin-right: 2em;
}
.red-box {
  background-color: #F25C54;
  border-radius: 0 1.5vh 1.5vh 0;
  width: 35px;
  height: 51px;
  z-index: -1;
}

.green-box {
  background-color: #83B692;
  border-radius: 0 1.5vh 1.5vh 0;
  width: 35px;
  height: 51px;
  z-index: -1;
}

.yellow-box {
  border-radius: 0 1.5vh 1.5vh 0;
  background-color: #F9DC5C;
  width: 35px;
  height: 51px;
  z-index: -1;
}