#employee-calendar {

  background-color: rgba(103, 58, 183, 0.5);
  background: linear-gradient(rgba(101, 153, 153, 0.5),rgba(244, 121, 31, 0.5));
  background-size: 400%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0px;
  height: 100vh;
  font-family:'Raleway', sans-serif;
}

.title-row .button {
  font-size: 1.2em;
  align-self: center;
  color: rgba(101, 153, 153, 1);
  border:1px solid rgba(101, 153, 153, 1);
  background-color:rgba(101, 153, 153, 0.1);
  padding:10px 10px;
}

.day-selector {
  margin:15px 0 5px 0;
}

.day-selector button{
  appearance: none;
  border:none;
  background: none;
  font-size: 1.3em;
  color:white;
}
.day-selector .date{
  margin:0 10px;
  font-size: 1.1em;
}

.from-to {
  margin:10px 0;
  font-size:1.2em;
  
}

.from-to span{
  font-size:1em;
  color:black;
}

.calendar{
  
  width:100%;
  height: 57vh;
  margin-top:2vh;
  overflow: scroll;
  
  
}


/* ------    CALENDAR    ------ */
.center-elements{
  display:flex;
  justify-content: center;
}

.background-color{
  
}

#employee-schedule {
  padding:0;
}

#employee-schedule .row-container {
  width:90vw;
  height: 7vh;
  display:flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(255,255,255,1);
  
}

#employee-schedule .schedule-hour {
  
  width:20vw;
  
  color:rgba(255, 255, 255, 1);
  align-self: start;
}

#employee-schedule .schedule-container {
  width:60vw;
  background-color:rgba(255, 255, 255, 0.5);
  margin:0 0 0 5vw;
  
}

#employee-schedule li:first-child .schedule-container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color:rgba(255, 255, 255, 0.5);
  align-self: flex-end;
}

#employee-schedule li:last-child .schedule-container {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}