.container-navbar {
  color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: rgb(103, 58, 183,0.5);
}

.name-navbar {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: capitalize;
}